<div class="rxjs">
  <div class="item">
    <div>count: {{count}}</div>
    <button type="button" class="add-count">count++</button>
  </div>
  <div class="item">
    <div>throttle-count: {{throttleCount}}</div>
    <button type="button" class="throttle">throttle count</button>
  </div>
  <div class="item">
    <button type="button" class="add-mouse-positionX">add Mouse PositionX</button>
  </div>
  <div class="item">
    <button type="button" class="get-mouse-positionX">add Mouse PositionX</button>
  </div>
</div>